{% extends 'super/base.html' %}

{% block pageheader %}
活动订单详情
{% endblock %}

{% block mainbody %}
<div class="box box-danger">
  <div class="box-header with-border">
  </div><!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    <form role="form" method="POST" action="{% url 'web:activity_order_detail' client.id %}" enctype="multipart/form-data">
      {% csrf_token %}
     <div class="form-group">
      <label for="exampleInputEmail1">活动订单信息:</label><br>
      订单id: {{ client.id }}<br>
      订单号: {{ client.order_num }}<br>
      用户id: {{ client.user.id }}<br>
      下单时间: {{ client.created|date:"Y-m-d H:m" }}<br>
      订单状态: {{ client.get_status_display }}<br>
      联系方式: {{ client.user.profile.mobile }}<br>
      订单备注: {{ client.note }}<br>

    </div>
    <hr/>
    <div class="form-group">
      <label for="exampleInputEmail1">场次信息:</label><br>
          {% for activityorderdetail in client.get_activityorderdetails %}
            活动名称: {{ activityorderdetail.activity.title }}<br>
            场次: {{ activityorderdetail.activityscreenings.name }}<br>
            数量: {{ activityorderdetail.number }}张<br>
            {% if not forloop.last %}
              <hr style="border-style: dashed;">
            {% endif %}
          {% endfor %}
    </div>
    <hr/>
    <div class="form-group">
      <label for="exampleInputEmail1">付款信息:</label><br>
        订单总额: {{ client.total_fee }}<br>
        实付金额: {{ client.real_fee }}<br>
        支付平台: {{ client.get_pay_way_display }}<br>
        支付平台交易号: {{ client.charge_id }}<br>
        支付时间: {{ client.pay_time|date:"Y-m-d H:m" }}<br>
    </div>
    <hr/>
    <div class="form-group">
      <a class="btn btn-default pull-left" href="{% url 'web:activity_order_list' %}">返回</a>
      {% if client.status == 9 %}
        <a class="btn btn-info pull-right" id="cancel">取消订单</a>
      {% endif %}
      {% if client.status == 6 %}
        <a class="btn btn-danger pull-right" id="refund_refuse">退款拒绝</a>
        <a class="btn btn-danger pull-right" id="refund">退款</a>
      {% endif %}
    </div>
  </form>
  </div><!-- /.box-body -->
</div>
{% endblock %}
{% block script %}
<script>
$(function () {
  //剩余 退款
  $('#delivergoods').on('click',function(){
    $('#myModal').modal('toggle');
  })
  $('#cancel').bind('click', function() {
     if(confirm("确定取消订单？"))
     {
        $.ajax({
          method: "GET",
          url: "{% url 'web:activity_order_async_cancel' client.id %}"
        }).done(function( args ) {
          args = JSON.parse(args)
          if (!args.error_code) {
            alert('操作成功')
            window.location.reload()
          };
        })
     }
  });
  $('#refund').bind('click', function() {
     if(confirm("确定退款吗？"))
     {
        $.get("{% url 'web:activity_order_refund' client.id %}", function() {
          alert('操作成功');
          window.location.reload();
        },"json");
     }
  });
  $('#refund_refuse').bind('click', function() {
     if(confirm("确定拒绝退款？"))
     {
        $.get("{% url 'web:activity_order_refund_refuse' client.id %}", function(data) {
          if (data.error_code == 0) {
            alert('操作成功');
            window.location.reload();
          };
        },"json");
     }
  });
});
</script>
{% endblock %}
