{% extends 'super/base.html' %}

{% block pageheader %}
  {% if client.id %}
  编辑专辑
  {% else %}
  新建专辑
  {% endif %}
{% endblock %}

{% block mainbody %}
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">
      {% if client.id %}
      编辑专辑
      {% else %}
      新建专辑
      {% endif %}
    </h3>
  </div><!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    <form role="form" method="POST"
      {% if not client.id %}
      action="{% url 'web:album_create' %}"
      {% else %}
      action="{% url 'web:album_edit' client.id %}"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}
    <div class="form-group">
      <label for="name">专辑名称</label><br>
      <input type="text" class="form-control" name="name"  value="{{ client.name }}"/>
      {{ error.title_msg|safe }}
    </div>
    <div class="form-group">
      <label for="intro">简介</label><br>
      <textarea class="form-control" name="intro">{{ client.intro }}</textarea>
    </div>
    <input type="hidden" name="speech_str" id="speech_str"/>
    <div id="more_speech">
      {% for recommendspeech in client.recommendspeechs %}
        <div class="panel panel-default">
          <div class="panel-heading"><label>专辑推荐演讲</label>
            <div class="btn-group pull-right" >
              <div class="close_btn"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <select class="form-control speech" name="recommendspeech_{{ forloop.counter }}">
                {% for speech in speechs %}
                  <option value="{{ speech.id }}" {% if recommendspeech.id == speech.id %} selected {% endif %}>{{ speech.title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="4" placeholder="推荐介绍" name="recommendspeech_{{ forloop.counter }}_intro">{{ recommendspeech.intro }}</textarea>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" onclick="click_add_speech()">+添加演讲</button>
    </div>
    <div class="form-group">
      <label for="cover">专辑封面图片</label>
      <input type="file" id="cover" name="cover" />
      <p style="margin-top: 10px;">
        {% if client.cover_url and client.id %}
          <img src="{{ client.cover_url }}?imageView2/1/w/100/h/100" />
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <label for="name">是否显示在首页</label><br>
      <input type="radio" class="icheck" name="is_home" value="0" {% if client.is_home == 0 or not client %}checked{% endif %}>否
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" class="icheck" name="is_home" value="1" {% if client.is_home == 1 %}checked{% endif %}>是
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right" onclick="commit_form()">
        {% if client.id %}
          更新
        {% else %}
          创建
        {% endif %}
      </button>
    </div>
  </form>
  </div><!-- /.box-body -->

  <div class="box-footer">
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
    //附加事件
    $('.close_btn').bind('click', function() {
      $obj = $(this);
      $obj.parent().parent().parent().remove();
    });
  });
  function click_add_speech(){
    var base_length = $('#more_speech label').size();
    var plus_length = base_length + 1
    var common_html = '<div class="panel panel-default"><div class="panel-heading"><label>专辑推荐演讲</label><div class="btn-group pull-right"><div class="close_btn"><span class="glyphicon glyphicon-remove"></span></div></div></div><div class="panel-body"><div class="form-group"><select class="form-control speech" name="recommendspeech_'+plus_length+'">{% for speech in speechs %}<option value="{{ speech.id }}">{{ speech.title }}</option>{% endfor %}</select></div><div class="form-group"><textarea class="form-control" rows="4" placeholder="推荐介绍" name="recommendspeech_'+plus_length+'_intro"></textarea></div></div></div>'
    $('#more_speech').append(common_html);
    //附加关闭事件
    $('.close_btn').bind('click', function() {
      $obj = $(this);
      $obj.parent().parent().parent().remove();
    });
  }
  function commit_form(){
    // 直播信息
    var speech_s = $('#more_speech .speech');
    var speech_len = speech_s.size();
    var speech_str = ""
    for (var index=0;index<speech_len;index++)
    {
        speech_str += $(speech_s[index]).attr('name');
        speech_str += ","
    }
    if (speech_str.length > 0)
    {
      speech_str = speech_str.substring(0,speech_str.length-1) 
    }
    $('#speech_str').val(speech_str);
  }
</script>
{% endblock %}