{% extends 'frontend/base.html' %}

{% block pageheader %}
用户中心
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/website/js/dropzone-min/bootStyle.css">
    <link rel="stylesheet" href="/static/website/css/base.css">
    <link rel="stylesheet" href="/static/website/css/05-4-member.css">
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.structure.css"/>
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css"/>
{% endblock %}

{% block container %}
<div class="user">
    <img src="/static/website/images/member-bg.jpg" alt="" id="user_avatar">
    <div class="user-info banxin clearfix">
        <div class="user-face fl" id="container1" >
            <img class="avatar-pic" src="{{ client.avatar_url }}" alt="">
            <a class="avatar"><input type="file" id="pickfiles1">修改头像</a>
        </div>
        <p class="user-name grey">你好，<span>{{ client.user_name }}</span>！</p>
        <p class="user-loginTime grey">上次登录：<span>{{client.updated|date:"Y-m-d H:i:s"}}</span></p>
        <p class="user-credit grey">租客信用：<span class="green">900/1000</span> <strong class="green">优</strong></p>
    </div>
</div>

<div class="container banxin clearfix">
    <!--左边列表-->
    <ul class="tabs fl">
        <h4 align="center">账号管理</h4>
        <li {% if sub_module == 'user_index' %} class="active" {% endif %}>
            <a href="{% url 'website:user_index' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-01jbxx"></use>
                </svg> 基本信息
            </a>
        </li>
        <li {% if sub_module == 'housing_resource_create' %} class="active" {% endif %}>
            <a href="{% url 'website:housing_resource_create' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-02fbfy"></use>
                </svg> 房源发布
            </a>
        </li>
        <li {% if sub_module == 'housing_resource' %} class="active" {% endif %}>
            <a href="{% url 'website:housing_resources' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-03fygl"></use>
                </svg> 房源管理
            </a>
        </li>
        <li {% if sub_module == 'rent_house_create' %} class="active" {% endif %}>
            <a href="{% url 'website:rent_house_create' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-04qzfb"></use>
                </svg> 求租发布
            </a>
        </li>
        <li {% if sub_module == 'rent_house' %} class="active" {% endif %}>
            <a href="{% url 'website:rent_house' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-05qzgl"></use>
                </svg> 求租管理
            </a>
        </li>
        <li {% if sub_module == 'look_house' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-06kfgl"></use>
                </svg> 看房管理
            </a>
        </li>
        <li {% if sub_module == 'bill' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-07zjgl"></use>
                </svg> 资金管理
            </a>
        </li>
        <li>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-07zjgl"></use>
                </svg> 系统消息
            </a>
        </li>
    </ul>
    <!--右边列表-->
    <div class="tab_container fr">
        <!--tab5 求租发布-->
        <div id="tab5" class="tab_content seekRent">    
            <form method="POST" action="{% url 'website:rent_house_create' %}" enctype="multipart/form-data" id="form1">
                {% csrf_token %}
                <h4 class="house-online">基础信息</h4>
                    <p><label><span class="orange ">*</span>求租地段：</label>
                        <select name="province" id="province" required>
                        <option value="湖北省" selected>湖北省</option>
                    </select>&nbsp;&nbsp;
                        <select name="city" id="city" required>
                            <option value="武汉市" selected>武汉市</option>
                        </select>&nbsp;&nbsp;
                        <select name="area" id="area" required>
                            <option value="wc" {% if rent_house.area == 'wc' %}selected{% endif %}>武昌区</option>
                            <option value="hk" {% if rent_house.area == 'hk' %}selected{% endif %}>汉口区</option>
                            <option value="hs" {% if rent_house.area == 'hs' %}selected{% endif %}>洪山区</option>
                            <option value="gg" {% if rent_house.area == 'gg' %}selected{% endif %}>光谷区</option>
                            <option value="hy" {% if rent_house.area == 'hy' %}selected{% endif %}>汉阳区</option>
                        </select>
                    </p>
                    <p><label><span class="orange">*</span>租金：</label><select name="rent" id="rent" required>
                        <option value="请选择租金">请选择租金</option>
                        <option value=0 {% if not rent_house.rent %}selected{% endif %}>0-500</option>
                        <option value=1 {% if rent_house.rent == 1 %}selected{% endif %}>500-1000</option>
                        <option value=2 {% if rent_house.rent == 2 %}selected{% endif %}>1000-1500</option>
                        <option value=3 {% if rent_house.rent == 3 %}selected{% endif %}>1500-2000</option>
                        <option value=4 {% if rent_house.rent == 4 %}selected{% endif %}>2000-2500</option>
                        <option value=5 {% if rent_house.rent == 5 %}selected{% endif %}>2500-3000</option>
                        <option value=6 {% if rent_house.rent == 6 %}selected{% endif %}>3000-3500</option>
                        <option value=7 {% if rent_house.rent == 7 %}selected{% endif %}>3500-4000</option>
                        <option value=8 {% if rent_house.rent == 8 %}selected{% endif %}>4000以上</option>
                        <option value=9 {% if rent_house.rent == 9 %}selected{% endif %}>不限</option>
                    </select>
                    </p>
                    <p class="checkinDay"><label><span class="orange">*</span>最迟入住时间：</label><input type="text" name="date" id="selectDate" readonly="readonly" placeholder="请选择日期" required/>{{ rent_house.date }}</p>
                    <p class="extraInfo"><label><span class="orange">*</span>补充说明：</label><textarea name="description" id="description" cols="30" rows="10" placeholder="凡本站会员不限制查看联系方式，请勿在此处添加任何联系方式或地址信息，如若添加信息审核将无法通过。" required>{{ rent_house.description }}</textarea></p>
                    <h4 class="house-online">基础设施</h4>
                    <ul class="surrounding-facilities clearfix">
                            {% for i in infrastructures %}
                            <li>
                                <img src="{{ i.cover_url }}" alt="">
                                <br>
                                <label>{{ i.name }}</label>
                                <br>
                                <input type="checkbox" name="infrastructures" value="{{ i.id }}">
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="rentAll"><label><input type="radio" name="lease" value=0 ><span class="orange">*</span>整租</label><select name="male_count" id="male_count">
                        <option value="男性人数" selected>男性人数</option>
                        <option value=0 {% if not rent_house.male_count %}selected{% endif %}>1</option>
                        <option value=1 {% if rent_house.male_count == 1 %}selected{% endif %}>2</option>
                        <option value=2 {% if rent_house.male_count == 2 %}selected{% endif %}>3</option>
                        <option value=3 {% if rent_house.male_count == 3 %}selected{% endif %}>4</option>
                    </select>
                        <select name="female_count" id="female_count">
                            <option value="女性人数" selected>女性人数</option>
                            <option value=0 {% if not rent_house.female_count %}selected{% endif %}>1</option>
                            <option value=1 {% if rent_house.female_count == 1 %}selected{% endif %}>2</option>
                            <option value=2 {% if rent_house.female_count == 2 %}selected{% endif %}>3</option>
                            <option value=3 {% if rent_house.female_count == 3 %}selected{% endif %}>4</option>
                        </select>
                        <select name="relationship" id="relationship">
                            <option value="关系" selected>关系</option>
                            <option value=0 {% if not rent_house.relationship %}selected{% endif %}>朋友</option>
                            <option value=1 {% if rent_house.relationship == 1 %}selected{% endif %}>情侣</option>
                            <option value=2 {% if rent_house.relationship == 2 %}selected{% endif %}>同学</option>
                            <option value=3 {% if rent_house.relationship == 3 %}selected{% endif %}>亲戚</option>
                            <option value=4 {% if rent_house.relationship == 4 %}selected{% endif %}>陌生人</option>
                            <option value=5 {% if rent_house.relationship == 5 %}selected{% endif %}>其他</option>
                        </select>
                    </p>
                    <p class="rentPart"><label><input type="radio" name="lease" value=1><span class="orange">*</span>合租</label><select name="total_count" id="total_count">人数
                        <option value="总人数" selected>总人数</option>
                        <option value=0 {% if not rent_house.total_count %}selected{% endif %}>1</option>
                        <option value=1 {% if rent_house.total_count == 1 %}selected{% endif %}>2</option>
                        <option value=2 {% if rent_house.total_count == 2 %}selected{% endif %}>3</option>
                        <option value=3 {% if rent_house.total_count == 3 %}selected{% endif %}>4</option>
                        <option value=4 {% if rent_house.total_count == 4 %}selected{% endif %}>5</option>
                        <option value=5 {% if rent_house.total_count == 5 %}selected{% endif %}>6</option>
                    </select>
                        <select name="relationship" id="relationship2">
                            <option value="关系" selected>关系</option>
                            <option value=0 {% if not rent_house.relationship %}selected{% endif %}>朋友</option>
                            <option value=1 {% if rent_house.relationship == 1 %}selected{% endif %}>情侣</option>
                            <option value=2 {% if rent_house.relationship == 2 %}selected{% endif %}>同学</option>
                            <option value=3 {% if rent_house.relationship == 3 %}selected{% endif %}>亲戚</option>
                            <option value=4 {% if rent_house.relationship == 4 %}selected{% endif %}>陌生人</option>
                            <option value=5 {% if rent_house.relationship == 5 %}selected{% endif %}>其他</option>
                        </select>
                        <select name="accept" id="accept">
                            <option value="能接受的合租对象" selected>能接受的合租对象</option>
                            <option value=0 {% if not rent_house.accept %}selected{% endif %}>学生</option>
                            <option value=1 {% if rent_house.accept == 1 %}selected{% endif %}>白领</option>
                            <option value=2 {% if rent_house.accept == 2 %}selected{% endif %}>不限</option>
                        </select>
                    </p>
                    <p class="userName"><label><span class="orange">*</span>姓名</label><input type="text" name="name" placeholder="请输入您的名字" required>{{ rent_house.name }}</p>
                    <p class="phoneNum"><label><span class="orange"></span>手机</label><input name="phone" id="phone" type="text" placeholder="请输入您的手机">{{ rent_house.phone }}</p>
                    <div class="release-ways">
                        <button class="release-pay" type="button">提交审核</button>
                    </div>
            </form>
        </div>
        <div class="backToTop">↑<p>Top</p></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/website/js/jquery-3.2.1.js"></script>
<script src="/static/pingpp-js/dist/pingpp.js" type="text/javascript"></script>
<script src="/static/vendor/plupload.full.min.js"></script>
<script src="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/static/website/js/05-4-member05.js"></script>
<script src="/static/website/js/dropzone-min/dropzone.min.js"></script>
<script src="/static/website/js/dropzone-min/bootStyle.js"></script>
<script src="/static/website/js/nav.js"></script>

<script>
$(document).ready(function () {

    function completeHandler(res){
        alert(res.error_msg)
        if (!res.error_code) {
            location.href = '{% url "website:rent_house" %}'
        }
    }

    function errorHandler(err){
        alert('提交失败')
    }

    $('.release-pay').on('click', function(){
        var formData = new FormData($('form')[0]);
        $.ajax({
          url: '{% url "website:rent_house_create" %}', 
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          success: completeHandler,
          error: errorHandler,     
        });
    })

    //基础设施选择
    var SetLis = $("#tab5 .surrounding-facilities").find("li");
    for(var i = 0;i < SetLis.length;i++){
        $(SetLis[i]).click(function () {
            var box = $(this).find('input');
            if(box.attr('checked') === 'checked'){
                box.removeAttr('checked');
            }else{
                box.attr('checked','true');
            }
        });
    }
});
</script>
<script>
    // 确认修改
    document.querySelector(".modify").onclick = function () {
        document.querySelector(".modify-success span").innerHTML = getNowFormatDate();
        document.querySelector(".modify-success").style.display = "block";
    };

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        return currentdate;
    }

    $(".backToTop").click(function () {
        console.log(11);
        scrollTo(0,0);
    });
</script>
{% endblock %}