{% extends 'frontend/base.html' %}

{% block pageheader %}
用户中心
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/website/css/05-4-member.css">
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.structure.css"/>
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css"/>
{% endblock %}

{% block container %}
<div class="user">
    <img src="/static/website/images/member-bg.jpg" alt="" id="user_avatar">
    <div class="user-info banxin clearfix">
        <div class="user-face fl" id="container1" >
            <img class="avatar-pic" src="{{ client.avatar_url }}" alt="">
            <a class="avatar"><input type="file" id="pickfiles1">修改头像</a>
        </div>
        <p class="user-name grey">你好，<span>{{ client.user_name }}</span>！</p>
        <p class="user-loginTime grey">上次登录：<span>{{client.updated|date:"Y-m-d H:i:s"}}</span></p>
        <p class="user-credit grey">租客信用：<span class="green">900/1000</span> <strong class="green">优</strong></p>
    </div>
</div>

<div class="container banxin clearfix">
    <!--左边列表-->
    <!--左边列表-->
    <ul class="tabs fl">
        <h4 align="center">账号管理</h4>
        <li {% if sub_module == 'user_index' %} class="active" {% endif %}>
            <a href="{% url 'website:user_index' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-01jbxx"></use>
                </svg> 基本信息
            </a>
        </li>
        <li {% if sub_module == 'housing_resource_create' %} class="active" {% endif %}>
            <a href="{% url 'website:housing_resource_create' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-02fbfy"></use>
                </svg> 房源发布
            </a>
        </li>
        <li {% if sub_module == 'housing_resource' %} class="active" {% endif %}>
            <a href="{% url 'website:housing_resources' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-03fygl"></use>
                </svg> 房源管理
            </a>
        </li>
        <li {% if sub_module == 'rent_house_create' %} class="active" {% endif %}>
            <a href="{% url 'website:rent_house_create' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-04qzfb"></use>
                </svg> 求租发布
            </a>
        </li>
        <li {% if sub_module == 'rent_house' %} class="active" {% endif %}>
            <a href="{% url 'website:rent_house' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-05qzgl"></use>
                </svg> 求租管理
            </a>
        </li>
        <li {% if sub_module == 'look_house' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-06kfgl"></use>
                </svg> 看房管理
            </a>
        </li>
        <li {% if sub_module == 'bill' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-07zjgl"></use>
                </svg> 资金管理
            </a>
        </li>
        <li>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-07zjgl"></use>
                </svg> 系统消息
            </a>
        </li>
    </ul>
    <!--右边列表-->
    <div class="tab_container fr">
        <!--tab6 求租管理-->
        <div id="tab6" class="tab_content house-seekRent"">
            <h4 class="seekRent-online">已上架求租</h4>
            alert(clients3)
            <ul class="items-on clearfix">
            {% for c1 in clients1 %}
                <li class="item">
                    <p>租金：<strong class="orange">{{ c1.rent }}</strong></p>
                    <p>地理位置：<span>{{ c1.address }}</span></p>
                    <p align="center"><a class="orange" href="{% url 'website:rent_house_edit' c1.id %}">编辑</a> 
                    </p>
                </li>
            {% endfor %}
            </ul>
            <div class="h-manage-verifying">
                <h4 class="seekRent-verifying">待审核求租</h4>
                <ul class="items-on clearfix">
                    {% for c2 in clients2 %}
                    <li class="item">
                        <p>状态：<strong class="orange">{{ c2.get_audit_status_display }}</strong></p>
                        <p>地理位置：<span>{{ c2.address }}</span></p>
                        <p class="grey">正在审核，不要着急…</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="h-manage-unpublished">
                <h4 class="seekRent-unpublished">未发布求租</h4>
                <ul class="items-on clearfix">
                {% for c3 in clients3 %}
                    <li class="item">
                        <p>租金：<strong class="orange">{{ c3.rent }}</strong></p>
                        <p>地理位置：<span>{{ c3.address }}</span></p>
                        <p align="center"><a class="orange" href="{% url 'website:rent_house_edit' c3.id %}">编辑</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <h4 class="seekRent-offline">已下架求租</h4>
            <ul class="items-off clearfix">
            {% for c4 in clients4 %}
                <li class="item">
                    <p>房租预算 <strong class="orange">{{ c4.rent }}</strong></p>
                    <p>地理位置：<span>{{ c4.address }}</span></p>
                    <p align="center">
                        <a class="orange" href="{% url 'website:rent_house_edit' c4.id %}">编辑</a>&nbsp;&nbsp;&nbsp;
                    </p>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="backToTop">↑<p>Top</p></div>
    </div>
</div>

{% endblock %}

{% block script %}
<!--footer end-->
<script src="/static/vendor/qiniu.min.js"></script>
<script src="/static/vendor/plupload.full.min.js"></script>
<script src="/static/website/js/05-6-member.js"></script>
<script>
    $(".backToTop").click(function () {
        console.log(11);
        scrollTo(0,0);
    });
</script>
<script>
  $(function(){
    // $('#selectDate').jHsDate();
    });
</script>
{% endblock %}