{% extends 'frontend/base.html' %}

{% block pageheader %}
用户中心
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/website/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/static/website/css/05-4-member.css">
{% endblock %}

{% block container %}

<div class="user">
    <img src="/static/website/images/member-bg.jpg" alt="">
    <div class="user-info banxin clearfix">
        <div class="user-face fl"></div>
        <p class="user-name">
            <span>{{client.user_name}}</span>,你好！
        </p>
        <p class="user-loginTime">您上次登录的时间为：
            <span>{{client.updated|date:"Y-m-d H:i:s"}}</span>
        </p>
    </div>
</div>

<div class="container banxin clearfix">
    <!--左边列表-->
    <ul class="tabs fl">
        <h4 align="center">账号管理</h4>
        <li {% if sub_module == 'user_index' %} class="active" {% endif %}>
            <a href="{% url 'website:user_index' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-01jbxx"></use>
                </svg> 基本信息
            </a>
        </li>
        <li {% if sub_module == 'housing_resource_create' %} class="active" {% endif %}>
            <a href="{% url 'website:housing_resource_create' %}">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-02fbfy"></use>
                </svg> 房源发布
            </a>
        </li>
        <li {% if sub_module == 'housing_resource' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-03fygl"></use>
                </svg> 房源管理
            </a>
        </li>
        <li {% if sub_module == 'rent_house_create' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-04qzfb"></use>
                </svg> 求租发布
            </a>
        </li>
        <li {% if sub_module == 'rent_house' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-05qzgl"></use>
                </svg> 求租管理
            </a>
        </li>
        <li {% if sub_module == 'look_house' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-06kfgl"></use>
                </svg> 看房管理
            </a>
        </li>
        <li {% if sub_module == 'bill' %} class="active" {% endif %}>
            <a href="">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-07zjgl"></use>
                </svg> 资金管理
            </a>
        </li>
    </ul>
    <!--右边列表-->
    <div class="tab_container fr">
        <!--tab1 基本信息-->
        <div id="tab1" class="tab_content baseinfo" style="display: block;">
            <h4 class="baseinfo">基本信息</h4>
            <form method="POST" action="{% url 'website:update_profile' %}" enctype="multipart/form-data" id="form1">
            {% csrf_token %}
                <div class="top">
                    <p>
                        <label>姓名：</label>
                        <input type="text" name="user_name" class="user-name" value="{{ client.user_name }}">
                    </p>
                    <p>
                        <label>性别：</label>
                        <label for="gender1" class="gender">
                            <input type="radio" id="gender1" name="gender" {% if client.gender == 1 %} checked {% endif %} value="1">男
                        </label>
                        <label for="gender2" class="gender">
                            <input type="radio" id="gender2" name="gender" {% if client.gender == 2 %} checked {% endif %} value="2">女
                        </label>
                    </p>
                    <p>
                        <label>生日：</label>
                        <input class="contact birbath" id="selectDate" readonly="readonly" name="birbath" type="text" value="{{ client.birbath|date:'Y-m-d' }}">
                    </p>
                    <p>
                        <label>联系方式：</label>
                        <input class="contact" name="mobile" type="text" value="{{ client.mobile }}">
                    </p>
                    <p>
                        <label>银行卡信息：</label>
                        <input class="contact" name="bank_acount" type="text" value="{{ client.bank_acount }}">
                    </p>
                </div>
                <div class="bottom">
                    <p>
                        <label>身份证号码：</label>
                        <input class="contact" type="text" name="id_card" value="{{ client.id_card }}">
                    </p>
                    <p>
                        <label>认证情况：</label>
                        未认证
                    </p>
                    <br/>
                    <input type="file" id="test-image-file" name="test-image-file" value="上传身份证正反照片" size="2">
                    <div id="test-image-preview" {% if client.id_card_picture %} style="background-image: url('{{ client.id_card_picture_url  }}?imageView2/1/w/300/h/200')" {% endif %}>
                        图片预览
                    </div>
                    {% if client.avatar_url %}
                        <img src="{{ client.avatar_url }}?imageView2/1/w/300/h/200" width="150">
                    {% endif %}
                    <br/>
                    <input type="hidden" name="c_user_id" value="{{ client.id }}">
                    <a id="user_info_submit" class="button">确认修改</a>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<!--footer end-->
<script src="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/static/website/js/05-4-member.js"></script>
<script>
  $(function(){
    // $('#birbath').jHsDate();
    $('#user_info_submit').click(function(){

        $.ajax({
            url:'/user/update_profile',
            type: 'POST',
            data: new FormData($('#form1')[0]),
            processData: false,
            contentType: false
        }).done(function(res){
            console.log(res)
            alert(res.error_msg);
            if (res.error_code == 0) {
                return;
            }
        }).fail(function(res){

        });

    });

  })
</script>
{% endblock %}
