{% extends 'super/base.html' %}

{% block pageheader %}
房源发布
{% endblock %}

{% block mainbody %}
<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">
      房源发布
    </h3>
    <div class="box-tools">
    </div>
  </div><!-- /.box-header -->

  <div class="box-body">
<!--     <div style="margin-bottom:15px;">
      <a href="{% url 'web:infrastructure_create' %}" class="btn btn-info">新建</a>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th style="width: 10px">#</th>
              <th>房屋描述</th>
              <th>房屋类型</th>
              <th>租赁方式</th>
              <th>押付方式</th>
              <th>所在小区</th>
              <th>地理位置</th>
              <th>房屋照片</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            {% for c in clients %}
              <tr>
                <td style="vertical-align: middle;">{{ c.id }}</td>
                <td style="vertical-align: middle;">{{ c.content }}</td>
                <td style="vertical-align: middle;">{{ c.category }}</td>
                <td style="vertical-align: middle;">{{ c.get_lease_display }}</td>
                <td style="vertical-align: middle;">押{{ c.bet }}付{{ c.pay }}</td>
                <td style="vertical-align: middle;">{{ c.community }}</td>
                <td style="vertical-align: middle;">{{ c.complete_address }}</td>
                <td style="vertical-align: middle;">
                  <img src="{{ c.cover_url }}" width="50" height="50" />
                </td>
                <td style="vertical-align: middle;">{{ c.get_audit_status_display }}</td>
                <td style="vertical-align: middle;">
                    <a class="btn-xs btn-success" target="_blank" href="{% url 'website:housing_resources' c.id %}">预览</a>
                    <!-- <a class="btn btn-info" href="{% url 'web:infrastructure_edit' c.id %}">编辑</a> -->
                    <a class="btn-xs btn-success" href="{% url 'web:listings_release_online' c.id %}?page={{page}}">通过</a>
                    <a class="btn-xs btn-danger" href="{% url 'web:listings_release_offline' c.id %}?page={{page}}">不通过</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% with clients as paging_objs %}
      {% include 'super/paging.html' %}
    {% endwith %}

  </div>
</div>
{% endblock %}
