{% extends 'super/base.html' %}

{% block pageheader %}
  {% if client.id %}
  编辑每日推荐
  {% else %}
  新建每日推荐
  {% endif %}
{% endblock %}

{% block mainbody %}
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">
      {% if client.id %}
      编辑每日推荐
      {% else %}
      新建每日推荐
      {% endif %}
    </h3>
  </div><!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    <form role="form" method="POST"
      {% if not client.id %}
      action="{% url 'web:recommendedaily_create' %}"
      {% else %}
      action="{% url 'web:recommendedaily_edit' client.id %}"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}
    <div class="form-group">
      <label for="speech">推荐演讲</label>
      <select class="form-control" name="speech">
        {% for speech in speechs %}
          <option value="{{ speech.id }}"
            {% if client.speech and client.speech.id == speech.id %}
              selected
            {% endif %}
          >{{ speech.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="content">推荐内容</label><br>
      <textarea class="form-control" name="content">{{ client.content }}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right">
        {% if client.id %}
          更新
        {% else %}
          创建
        {% endif %}
      </button>
    </div>
  </form>
  </div><!-- /.box-body -->

  <div class="box-footer">
  </div>
</div>
{% endblock %}
