{% extends 'super/base.html' %}

{% block pageheader %}
  {% if client.id %}
  编辑专题
  {% else %}
  新建专题
  {% endif %}
{% endblock %}

{% block mainbody %}
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">
      {% if client.id %}
      编辑专题
      {% else %}
      新建专题
      {% endif %}
    </h3>
  </div><!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    <form role="form" method="POST"
      {% if not client.id %}
      action="{% url 'web:gift_special_create' %}"
      {% else %}
      action="{% url 'web:gift_special_edit' client.id %}"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}
    <div class="form-group">
      <label for="title">标题</label><br>
      <input type="text" class="form-control" name="title"  value="{{ client.title }}"/>
      {{ error.title_msg|safe }}
    </div>
    <div class="form-group">
      <label for="img">封面</label>
      <input type="file" id="img" name="img" />
      <p style="margin-top: 10px;">
        {% if client.img_url and client.id %}
          <img src="{{ client.img_url }}?imageView2/1/w/100/h/100" />
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <label for="intro">描述</label><br>
      <textarea class="form-control" name="intro">{{ client.intro }}</textarea>
    </div>
    <div class="form-group">
      <label for="special_type">类型</label><br>
      <input type="radio" name="special_type" value="0"
      {% if client.special_type == 0 or not client  %}checked="checked"{% endif %} 
      onchange="update_type()">礼物&nbsp;
      <input type="radio" name="special_type" value="1"
      {% if client.special_type == 1  %}checked="checked"{% endif %}
      onchange="update_type()">URL地址
    </div>
    <div class="form-group" id="div_select_gift">
      <label for="gift">选择礼物</label>
      <select class="form-control" name="gift">
        {% for gift in gifts %}
          <option value="{{ gift.id }}" 
            {% if client.gift and client.gift.id == gift.id %}
              selected
            {% endif %}
          >{{ gift.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="video_cover">视频封面图片</label>
      <input type="file" id="video_cover" name="video_cover" />
      <p style="margin-top: 10px;">
        {% if client.video_cover_url and client.id %}
          <img src="{{ client.video_cover_url }}?imageView2/1/w/100/h/100" />
        {% endif %}
      </p>
    </div>
    <div class="form-group clearfix" id="container1">
      <label for="video">视频文件:</label><br/>
      <div>
        <input type="text" class="form-control pull-left" name="video" id="video"  value="{{ client.video }}"  style="width:80%" readonly="readonly"/>
        <button type="button" class="btn btn-default pull-left" style="margin-left: 12px;" id="pickfiles1">选择文件</button>
        <button type="button" class="btn btn-default pull-left" style="margin-left: 12px;" onclick="$('#video').val('')">清空文件</button>
      </div>
    </div>
    <div class="form-group">
      <label for="name">上传进度:</label><br/>
      <div>
        <div class="progress progress-striped" style="margin-top:6px;">
          <div class="progress-bar progress-bar-success" role="progressbar" 
               aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
               id="upload_progress">
               0%
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" id="div_select_url">
      <label for="url_address">URL地址</label><br>
      <input type="text" class="form-control" name="url_address"  value="{{ client.url_address }}"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right">
        {% if client.id %}
          更新
        {% else %}
          创建
        {% endif %}
      </button>
    </div>
  </form>
  </div><!-- /.box-body -->

  <div class="box-footer">
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/qiniu-js/qiniu.min.js"></script>
<script type="text/javascript" src="/static/qiniu-js/plupload.full.min.js"></script>
<script>
  $(document).ready(function() {
        //设置上传信息
        var uploader1 = Qiniu.uploader({
            runtimes: 'html5,flash,html4',    //上传模式,依次退化
            browse_button: 'pickfiles1',       //上传选择的点选按钮，**必需**
            uptoken_url: '/admin/uptoken/',            //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
            // uptoken : '', //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
            unique_names: true, // 默认 false，key为文件名。若开启该选项，SDK为自动生成上传成功后的key（文件名）。
            // save_key: true,   // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK会忽略对key的处理
            domain: 'http://{{qiniu_domain}}',   //bucket 域名，下载资源时用到，**必需**
            get_new_uptoken: false,  //设置上传文件的时候是否每次都重新获取新的token
            container: 'container1',           //上传区域DOM ID，默认是browser_button的父元素，
            max_file_size: '500mb',           //最大文件体积限制
            max_retries: 3,                   //上传失败最大重试次数
            dragdrop: true,                   //开启可拖曳上传
            drop_element: 'container1',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
            chunk_size: '4mb',                //分块上传时，每片的体积
            auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
            multi_selection: false,           //限制只能上传一个文件
            init: {
                'FilesAdded': function(up, files) {
                    plupload.each(files, function(file) {
                        // 文件添加进队列后,处理相关的事情
                    });
                },
                'BeforeUpload': function(up, file) {
                    // 每个文件上传前,处理相关的事情
                    $('#pickfiles1').prev().val("");
                },
                'UploadProgress': function(up, file) {
                   var percent = up.total.percent + '%';
                   $("#upload_progress").css('width', percent);
                   $("#upload_progress").text(percent);
                },
                'FileUploaded': function(up, file, info) {
                    // 每个文件上传成功后,处理相关的事情
                    var res = JSON.parse(info);
                    $('#pickfiles1').prev().val(res.key);
                },
                'Error': function(up, err, errTip) {
                    //上传出错时,处理相关的事情
                },
                'UploadComplete': function() {
                    //队列文件处理完毕后,处理相关的事情
                },
            }
        });
    var select_special_type = "{{ client.special_type }}"
    if(select_special_type == "" || select_special_type == "0")
    {
      $('#div_select_url').hide();
      $('#div_select_gift').show();
    }else{
      $('#div_select_url').show();
      $('#div_select_gift').hide();
    }
    $('[name="special_type"]').change(function() {
      var select_val = $(this).val();
      if(select_val == 0)
      {
        $('#div_select_url').hide();
        $('#div_select_gift').show();
      }else{
        $('#div_select_url').show();
        $('#div_select_gift').hide();
      }
    });
  });
</script>
{% endblock %}