{% extends 'frontend/base.html' %}

{% block pageheader %}
房源列表
{% endblock %}

    {% block style %}
    <link rel="stylesheet" href="/static/website/css/02-1-roomResource-1.css">
    <link rel="stylesheet" href="/static/website/css/03-findToRent.css">
    {% endblock %}

{% block container %}

<div class="user">
    <img src="/static/website/images/member-bg.jpg" alt="">
</div>

<div class="howToFind banxin">
    <ul class="clearfix">
        <li><a href="{% url 'website:housing_resources_list' %}">立即找房</a></li>
        <li class="active"><a href="{% url 'website:housing_resources_map_list' %}">地图找房</a></li>
    </ul>
</div>
<div class="roomlist"></div>
{% endblock %}