{% extends 'frontend/base.html' %}

{% block title %}
房源详情
{% endblock %}

    {% block style %}
    <link rel="stylesheet" href="/static/website/css/02-2-roomInfo.css">
    <link rel="stylesheet" href="/static/website/css/swiper.min.css">
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.structure.css"/>
    <link type="text/css" rel="stylesheet" href="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css"/>
    {% endblock %}

{% block container %}
<!--图片简介 begin-->
<div class="info-pic wrap">
    <div class="banner banxin clearfix">
        <!--左侧 图片-->
        <div class="swiper-container clearfix fl">
            <div class="swiper-wrapper">
            {% for p in housing_resources.get_pictures %}
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="{{ p }}" alt="">
                    </a>
                </div>
            {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!--Add pagination-->
            <div class="swiper-pagination swiper-pagination-fraction">
                <span class="swiper-pagination-current">1</span> /
                <span class="swiper-pagination-total">{{ housing_resources.get_pictures|length }}</span>
            </div>
        </div>
        <!--右侧 简介-->
        <div class="contact fr">
            <h3>
                <span>{{ housing_resources.area }}</span>-<span>{{ housing_resources.category }}</span>-<span>
                {{ housing_resources.sitting_room_area }}</span>m³-<span>{{ housing_resources.layer }}/{{ housing_resources.total_layer }}</span>F</h3>
            <p>
                <svg class="icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-didian"></use>
                </svg>
                <a>{{ housing_resources.complete_address }}</a>
            </p>
            <p>
                <svg class="icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shijian"></use>
                </svg>
                <span>{{ housing_resources.updated|date:"Y-m-d H:s" }}</span> &nbsp;更新
            </p>
            <p>
                <svg class="icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-1-part"></use>
                </svg>
                <span>{{ housing_resources.get_lease_display }}</span>
            </p>
            <p class="payment"><span class="orange">￥{{ housing_resources.month_rent }}/月</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="how">押{{ housing_resources.bet }}付{{ housing_resources.pay }}</span></p>
            <!-- <p class="phoneNum orange"><button>预 约 看 房</button></p> -->
            <p class="getContact orange">
                <input type="text" id="select_date" housing_resources_id={{housing_resources.id}} readonly="readonly" placeholder="预约看房" />
            </p>
        </div>
    </div>
</div>
<!--图片简介 end-->

<!--房屋详情 begin-->
<div class="moreInfo banxin">
    <!-- 1 房源描述-->
    <div class="describe wrapper clearfix">
        <div class="left fl">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-1-describe"></use>
            </svg> 房源描述</div>
        <div class="right fl">
            <p class="text">
                {{ housing_resources.content|safe }}
            </p>
        </div>
    </div>

    <!-- 2 房源详情-->
    <div class="room-details wrapper clearfix">
        <div class="left fl">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-2-details"></use>
            </svg>房源详情</div>
        <div class="right fl">
            <p class="text">
                <label for="">户型：</label>&nbsp;&nbsp;
                <span>{{ housing_resources.category }}</span>
            </p>
            <p class="text">
                <label for="">朝向：</label>&nbsp;&nbsp;
                <span>{{ housing_resources.get_direction_display }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ housing_resources.layer }}/{{ housing_resources.total_layer }}F</span>
            </p>
            <p class="text"><label for="">面积：</label>&nbsp;&nbsp;<span>{{ housing_resources.sitting_room_area }}</span>㎡</p>
            <p class="text"><label for="">小区：</label>&nbsp;&nbsp;<span>{{ housing_resources.community }}</span></p>
        </div>
    </div>

    <!-- 3 基础设施-->
    <div class="baseSet wrapper clearfix">
        <div class="left fl">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-3-base"></use>
            </svg> 基础设施
        </div>
        <div class="right fl">
            <ul class="surrounding-facilities clearfix">
            {% for j in housing_resources.infrastructure.all  %}
                <li>
                    <img src="{{ j.cover_url }}" alt="">
                    <br><label>{{ j.name }}</label><br>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <!-- 4 周边配套-->
    <div class="room-details wrapper clearfix">
        <div class="left fl">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-4-around"></use>
            </svg> 周边配套
        </div>
        <div class="right fl">
            <p class="text">
                <label for="">附近公交：</label>&nbsp;&nbsp;
                <span>{{ housing_resources.subway }}</span>
            </p>
            <p class="text">
                <label for="">附近地铁：</label>&nbsp;&nbsp;
                <span>{{ housing_resources.bus }}</span>
            </p>
            <p class="text">
                <label for="">餐饮购物：</label>&nbsp;&nbsp;
                <span>{{ housing_resources.buy }}</span>
            </p>
        </div>
    </div>

    <!-- 5 位置信息-->
    <div class="around wrapper clearfix">
        <div class="left fl">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-5-locate"></use>
            </svg> 位置信息
        </div>
        <div class="right fl">
            <div id="map_container" style="width:100%; height:400px"></div>
        </div>
    </div>

    <!-- 6 房间概况-->
<!--     <div class="someInfo wrapper clearfix">
        <div class="left fl"><svg class="icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-6-roominfo"></use></svg> 房价概况</div>
        <div class="right fl">
            <ul>
            {% for b in housing_resources.bedrooms %}
                <li class="clearfix">
                    <h4>卧室{{ forloop.counter }}
                        <span class="orange">{{ b.area }}㎡</span>
                        <button class="fr">{{ b.get_status_display }}</button>
                    </h4>
                    <p>
                        <span class="orange">☑</span>
                        <span>空调</span>&nbsp;&nbsp;&nbsp;
                        <span class="orange">☑</span>
                        <span>飘窗</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>一男一女</span>
                    </p>
                    <p>房间配置：{% for hf in b.house_config.all %}{{ hf.name }}{% if not forloop.last %}、{% endif %}{% endfor %}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div> -->

    <!-- 7 看房评价-->
<!--     <div class="comment wrapper clearfix">
        <div class="left fl">
            <svg class="icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-comment"></use>
            </svg>看房评价
        </div>
        <div class="right fl">
            <h3>总评分：<span>{{ point_str }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(共 {{ housing_evaluations|length }} 条评价)</h3>
            <ul>
            {% for he in housing_evaluations %}
                <li class="clearfix">
                    <p class="comment-pic">
                    {% for i in he.imgs %}
                        <img src="{{ i }}" alt="">
                    {% endfor %}
                    </p>
                    <p class="comment-text">
                        {{ he.content|safe }}
                    </p>
                    <p class="comment-time grey">用户：<span class="orange">{{ he.user.username }} {% if not he.niming %}（{{ he.get_niming_display }}）{% endif %}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;评分：<span class="orange">{{ he.point_str }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：<span>{{ he.created|date:"Y-m-d H:i" }}</span></p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div> -->
</div>
<!--房屋详情 end-->

<!--同小区其他房源推荐 begin-->
<div class="recommend banxin">
    <h3>同小区其他房源推荐</h3>
    <div class="tab-content newest active">
        <div class="tabpanel">
        {% for th in tongxiaoquhousing %}
            <a href="{% url 'website:housing_resources' th.id %}" class="trig">
                <img src="{{ th.cover_url }}" alt="">
                <div class="trig_txt">
                    <div class="trig-price orange">{{ th.month_rent }} <span>元/月</span></div>
                    <div class="trig-addr">{{ th.area }}-{{ th.community }}-{{ th.category }}-朝{{  th.get_direction_display }}-{{ th.sitting_room_area }}㎡</div>
                    <div class="trig-describe">{{ th.category }}</div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
</div>
<!--同小区其他房源推荐 end-->

<!--附近类似房源推荐 begin-->
<div class="recommend banxin">
    <h3>附近类似房源推荐</h3>
    <div class="tab-content newest active">
        <div class="tabpanel">
        {% for ff in fujinxiaoqufangyuan %}
            <a href="{% url 'website:housing_resources' ff.id %}" class="trig">
                <img src="{{ ff.cover_url }}" alt="">
                <div class="trig_txt">
                    <div class="trig-price orange">{{ ff.month_rent }} <span>元/月</span></div>
                    <div class="trig-addr">{{ ff.area }}-{{ ff.community }}-{{ ff.category }}-朝{{  ff.get_direction_display }}-{{ ff.sitting_room_area }}㎡</div>
                    <div class="trig-describe">{{ ff.category }}</div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
</div>
<!--附近类似房源推荐 end-->
{% endblock %}

{% block script %}
<script charset="utf-8" src="{{ qq_map_api_url }}"></script>
<script src="/static/website/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/static/website/js/swiper.min.js"></script>
<script src="/static/website/js/02-2-roomInfo.js"></script>
<!-- Initialize Swiper -->
<script>
  var lng = {% if not housing_resources or housing_resources.lng == 0.0000000 %}114.30{% else %}{{ housing_resources.lng }}{% endif %};
  var lat = {% if not housing_resources or housing_resources.lat == 0.0000000 %}30.60{% else %}{{ housing_resources.lat }}{% endif %};

  var map = []
  console.log(lng, lat)
  var center = new qq.maps.LatLng(lat, lng);
  var map = new qq.maps.Map(document.getElementById("map_container"),{
    center:center,
    zoom:14
  });

  setTimeout(function(){
    marker=new qq.maps.Marker({
      position:center,
      animation:qq.maps.MarkerAnimation.DROP,
      map:map
    });
    //marker.setAnimation(qq.maps.Animation.DROP);
  },200);


    $('#select_date').on('change', function(){
        var housing_resources_id = $(this).attr('housing_resources_id')
        var select_date = $(this).val()
        $.ajax({
            url: '{% url "website:housing_resources_meet_create" %}',
            type: 'post',
            data: {
                housing_resources_id: housing_resources_id,
                select_date: select_date,
            },
            success: function(res, status){
                if (res.error_code == 1) {
                    window.location.href = '{% url "website:home_login" %}'
                }
                if (!res.error_code) {
                    alert(res.error_msg)
                }
            },
            error: function(res, status){
                alert('预约失败')
            }
        })
    })

</script>
{% endblock %}

