{% extends 'frontend/base.html' %}

{% block pageheader %}
求租信息
{% endblock %}

    {% block style %}
    <link rel="stylesheet" href="/static/website/css/03-findToRent.css">
    {% endblock %}

{% block container %}
<div class="user">
    <img src="/static/website/images/member-bg.jpg" alt="">
</div>
<div class="panel-filter banxin clearfix">
    <!--位置筛选-->
    <div class="container clearfix">
        <!--地区列表-->
        <ul class="tabs clearfix">
            <li><strong>区域</strong>：&nbsp</li>
            <li><a href="#tab1">&nbsp洪山&nbsp </a></li>
            <li><a href="#tab2">&nbsp汉阳&nbsp</a></li>
            <li><a href="#tab1">&nbsp武昌&nbsp</a></li>
            <li><a href="#tab2">&nbsp黄陂&nbsp</a></li>
            <li><a href="#tab1">&nbsp江岸&nbsp</a></li>
            <li><a href="#tab2">&nbsp东西湖&nbsp</a></li>
            <li><a href="#tab1">&nbsp江夏&nbsp</a></li>
            <li><a href="#tab2">&nbsp汉桥&nbsp</a></li>
            <li><a href="#tab1">&nbsp硚口&nbsp</a></li>
            <li><a href="#tab2">&nbsp青山&nbsp</a></li>
            <li><a href="#tab1">&nbsp蔡甸&nbsp</a></li>
            <li><a href="#tab2">&nbsp新洲&nbsp</a></li>
            <li><a href="#tab1">&nbsp武汉周边&nbsp</a></li>
            <li><a href="#tab2">&nbsp东湖高新&nbsp</a></li>
            <li><a href="#tab1">&nbsp经济开发区&nbsp</a></li>
            <li><a href="#tab2">&nbsp汉南&nbsp</a></li>
            <li><a href="#tab1">&nbsp全部&nbsp</a></li>
        </ul>

        <!--区域范围列表-->
        <div class="district_container">
            <div id="tab1" class="tab_content" style="display: block;">
                <ul class="service_tabs clearfix">
                    <li>&nbsp全部&nbsp</li>
                    <li>&nbspE 二七&nbsp</li>
                    <li>&nbspH 后湖&nbsp</li>
                    <li>&nbspJ 解放公园&nbsp</li>
                </ul>
            </div>
            <div id="tab2" class="tab_content" style="display: none;">
                <ul class="service_tabs clearfix">
                    <li>&nbsp全部&nbsp</li>
                    <li>&nbspE 十里铺&nbsp </li>
                    <li>&nbspH 王家湾&nbsp</li>
                </ul>
            </div>
        </div>
    </div>

    <!--价格筛选-->
    <div class="row price">
        <ul class="clearfix">
            <li><strong>价格</strong>：&nbsp</li>
            <li class="active">&nbsp不限&nbsp</li>
            <li>500以下&nbsp</li>
            <li>500-1000&nbsp</li>
            <li>1000-1500&nbsp</li>
            <li>1500-2000&nbsp</li>
            <li>2000-2500&nbsp</li>
            <li>2500-3000&nbsp</li>
            <li>3000-3500&nbsp</li>
            <li>3500-4000&nbsp</li>
            <li><input type="text"> - <input type="text"> <button>确定</button></li>

        </ul>
    </div>

    <!--户型筛选-->
    <div class="row structure">
        <ul class="clearfix">
            <li><strong>户型</strong>：&nbsp</li>
            <li class="active">&nbsp不限&nbsp</li>
            <li>一室&nbsp</li>
            <li>二室&nbsp</li>
            <li>三室&nbsp</li>
            <li>四室&nbsp</li>
            <li>五室&nbsp</li>
            <li>其他&nbsp</li>
        </ul>
    </div>

    <!--合租/整租 筛选-->
    <div class="row wayToRent">
        <ul class="clearfix">
            <li><strong>方式</strong>：&nbsp</li>
            <li class="active">&nbsp不限&nbsp </li>
            <li id="entireRent">整租&nbsp</li>
            <li id="sharedRent">合租&nbsp</li>
        </ul>
    </div>

    <!--室友 筛选-->
    <div class="row roommate">
        <ul class="clearfix">
            <li><strong>室友</strong>：&nbsp</li>
            <li>&nbsp不限&nbsp</li>
            <li> 都是美女&nbsp</li>
            <li> 都是帅哥&nbsp</li>
            <li> 美女帅哥&nbsp</li>
        </ul>
    </div>
</div>
<div class="banxin">
    <ul class="items">
    {% for rh in rent_houses %}
        <li class="item clearfix">
            <div class="left fl">
                <img src="{{ rh.get_profile.avatar_url }}" alt="">
                <p><button class="getContact">联系他</button></p>
                <p><button class="complaint">举报他</button></p>
            </div>
            <div class="right fl">
                <p><label for="">租客姓名：</label>{{ rh.name }}</p>
                <p><label for="">房租预算：</label><strong class="orange">{{ rh.rent }}</strong></p>
                <p><label for="">期望房型：</label>二房一厅</p>
                <p><label for="">其他要求：</label>有天然气可以做饭，合租总人数不超过5人</p>
                <p><label for="">基础设施：</label></p>
                <ul class="surrounding-facilities clearfix">
                    <li>
                        <img src="/static/website/images/01bingxiang.jpg" alt=""><br>
                        <label>冰箱</label><br>
                    </li>
                </ul>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
