{% extends 'frontend/base.html' %}

{% block pageheader %}
找回密码
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/website/css/05-3-resetCode.css">
{% endblock %}

{% block container %}
<div class="mask-bg wrap">
    <img src="/static/website/images/login-bg.jpg" alt="">
    <div class="register">
        <h1 class="green" align="center">找回密码</h1>
        <p>
            <input class="phoneNum" id="phoneNum" type="text" placeholder="手机号">
        </p>
        <span class="phone-wrong"></span>
        <p class="verification-code clearfix">
            <input class="fl" type="text" id="vcode" placeholder="手机验证码">
            <button class="fr able get_v_code" value="获取验证码">获取验证码</button>
        </p>
        <span class="vCodeWrong"></span>

        <p class="verification-code clearfix">
            <input class="fl" type="text" name="img_code" id="img_code" placeholder="图形验证码">
            <img src="" id="verify_code" style="min-height: 40px;width: 100px" onclick="refresh_captcha($(this))">
        </p>
        <span class="imgCodeWrong"></span>
        <p><input class="code1" type="password" id="password1" placeholder="密码"></p>
        <p><input class="code2" type="password" id="password2" placeholder="再输入一次密码"></p>
        <span class="codeWrong"></span>
        <p class="legal">
            <label class="checkbox-btn">
                <span class="active">   
                    <input type="checkbox" name="read" value="1" class="read-protocol" checked="">
                </span>
                "我已阅读并同意"
            </label>
            <a class="toprotocol" href="http://www.lianjia.com/zhuanti/protocol" target="_blank">《悦居用户使用协议》</a>
        </p>
        <p class="reg-submit"><input type="submit" value="立 即 注 册"></p>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/website/js/05-2-register.js"></script>
<script>
    function refresh_captcha() {
        $.get('{% url "website:captcha" %}',function(data){
            console.log(data)
            $('#verify_code').attr('src', data)
        })
    }
    refresh_captcha();

$(document).ready(function () {

    $("#submit").on('click', function(){
        var phoneNum = $.trim($('#phoneNum').val())
        var vcode = $.trim($('#vcode').val())
        var img_code = $.trim($('#img_code').val())
        var password1 = $.trim($('#password1').val())
        var password2 = $.trim($('#password2').val())
        var tongguo = true

        //手机合法性验证
        var reg1 = /^1[0-9]{10}$/;
        console.log(phoneNum);
        if(reg1.test(phoneNum)){
            //3、符合个给一个样式，不符合给另一个样式
            $('.phoneNum').css('color','green');
            // $(".verification-code button").removeClass("disable").addClass("able").removeAttr("disabled");
        }else{
            $('.phoneNum').css('color','red');
            $(".phone-wrong").html("请输入正确的手机号").addClass("wrong");
            console.log($(".phone-wrong"));
            // $(".verification-code button").removeClass("able").addClass("disable").attr("disabled","disabled");
            tongguo = false
        }
        // 验证码校验
        if($.trim(vcode)){
            $(".verification-code input").css("color","green");
        }else{
            $(".verification-code input").css("color","red");
            $(".vCodeWrong").html("请输入验证码").addClass("wrong");
            tongguo = false
        }
        // 图形验证码
        if(img_code){
            $('#img_code').css("color","green");
        }else {
            $(".imgCodeWrong").html("验证码不能为空").addClass("wrong");
            tongguo = false
        }

        if(password1 === "" || password2 === ""){
            $(".codeWrong").html("请输入密码").addClass("wrong");
            tongguo = false
        }

        if(password1 !== password2){
            $(".codeWrong").html("两次密码不一样").addClass("wrong");
            tongguo = false
        }
        // 都不为空才能提交
        if (tongguo) {
            $.ajax({
                url: '{% url "website:reset_pwd" %}',
                async: false,
                type: 'post',
                data: {
                    phoneNum: phoneNum,
                    vcode: vcode,
                    img_code: img_code,
                    password1: password1,
                    password2: password2
                },
                success: function(res, status){
                    alert(res.error_msg)
                    if(!res.error_code){
                        location.href = '{{domain}}'
                    }
                },
                error: function(res, status){
                    alert('修改失败')
                }
            })
        }
    })

    $('.get_v_code').on('click', function(){
        var phoneNum = $.trim($('#phoneNum').val())
        var reg1 = /^(13[0-9]|15[0-9]|18[0-9])\d{8}$/;
        if(!reg1.test(phoneNum)){
            alert('请输入正确的手机号')
        }else{
            $.ajax({
                url: '{% url "website:send_vcode1" %}',
                async: false,
                type: 'post',
                data: {
                    mobile: phoneNum,
                },
                success: function(res, status){
                    if(!res.error_code){
                        alert(res.error_msg)
                    }
                },
                error: function(res, status){
                    alert('发送失败')
                }
            })
        }
    })
    $(".phoneNum").focus(function () {
        $(this).css("color","black");
        $(".phone-wrong").html("").removeClass("wrong");
    });

    $(".verification-code input").focus(function () {
        $(this).css("color","black");
        $(".vCodeWrong").html("").removeClass("wrong");
    });

    $(".mailbox").focus(function () {
        $(this).css("color","black");
        $(".mailWrong").html("").removeClass("wrong");
    });

    //重新输入
    $(".code1").focus(function () {
        codeWrongHide();
    });
    $(".code2").focus(function () {
        codeWrongHide();
    });
    function codeWrongHide() {
        $(".codeWrong").html("").removeClass("wrong");
    }

});
</script>
{% endblock %}