
{% extends 'frontend/base.html' %}

{% block title %}
    租房无中介费用
{% endblock %}

    {% block style %}
    <link rel="stylesheet" href="/static/website/css/index.css">
    <link rel="stylesheet" href="/static/website/css/swiper.min.css">
    {% endblock %}

{% block container %}
    <!--banner begin-->
    <div class="banner wrap">
        <!--毛玻璃背景-->
        <!--<div class="b_blur_back">-->
            <!--<div class="blur_box">-->
                <!--<div class="blur"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- Swiper banner图片部分-->
        <div class="swiper-container clearfix">
            <div class="swiper-wrapper">
            {% for a in advertisings %}
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="{{a.img_url}}" alt="">
                    </a>
                </div>
            {% endfor %}
            </div>
            <!-- Add Pagination -->
            {% if advertising_count > 1 %}
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            {% endif %}
        </div>

        <!--搜索-->
        <div class="b_search banxin">
            <div class="s_keyword">
                <input type="search" class="keyword" placeholder="请输入您想要的房源的地址、小区或房屋描述"><button class="s_submit white sousuo">搜索</button>
            </div>
            <!--其他找房暂时隐藏-->
            <!--<ul class="s_other">-->
                <!--<li class="map white">地图找房</li>-->
                <!--<li class="mobileP white">手机找房</li>-->
                <!--<li class="QR white">公众号找房</li>-->
            <!--</ul>-->
<!--             <div class="hot hotPlate white">
                <h4>热门板块:</h4>
                <ul class="autoList">
                    <li><a href="javascript:void(0)">汉阳</a></li>
                    <li><a href="javascript:void(0)">光谷雅丽</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                    <li><a href="javascript:void(0)">光谷</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                    <li><a href="javascript:void(0)">武昌</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                    <li><a href="javascript:void(0)">大兴</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                </ul>
                <a href="#" class="more fr">MORE
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-open"></use>
                    </svg>
                </a>
            </div> -->
<!--             <div class="hot hotBlock white">
                <h4>热门小区:</h4>
                <ul class="autoList">
                    <li><a href="javascript:void(0)">汉阳</a></li>
                    <li><a href="javascript:void(0)">光谷雅丽</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                    <li><a href="javascript:void(0)">光谷</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                    <li><a href="javascript:void(0)">武昌</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                    <li><a href="javascript:void(0)">大兴</a></li>
                    <li><a href="javascript:void(0)">汉口</a></li>
                </ul>
                <a href="#" class="more fr">MORE <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-open"></use>
                </svg></a>
            </div> -->
        </div>
    </div>
    <!--banner end-->

    <!--房源推荐 begin-->
    <div class="recommend wrap">
        <div class="houseMess banxin">
            <h5>The lastest housing</h5>
            <h2>房源推荐</h2>
            <ul class="mess_list tabs">
                <li class="active">
                    <a href="#tab1">最新房源</a>
                </li>
                <li><a href="#tab2">品质房源</a></li>
                <li><a href="#tab3">最热房源</a></li>
            </ul>
            <div class="tab-content newest active" id="tab1">
                <div class="tabpanel">
                {% for h in housingresources_list1 %}
                    <a href="{% url 'website:housing_resources' h.id %}" class="trig">
                        <img src="{{ h.cover_url }}" alt="">
                        <div class="trig_txt">
                            <div class="trig-price orange">{{ h.month_rent }} <span>元/月</span></div>
                            <div class="trig-addr">
                            {{ h.area }}-{{ h.community }}-{{ h.category }}-朝{{  h.get_direction_display }}-{{ h.sitting_room_area }}㎡
                            </div>
                            <div class="trig-describe">{{ h.category }}</div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="tab-content good" id="tab2">
                <div class="tabpanel">
                {% for h in housingresources_list2 %}
                    <a href="{% url 'website:housing_resources' h.id %}" class="trig">
                        <img src="{{ h.cover_url }}" alt="">
                        <div class="trig_txt">
                            <div class="trig-price orange">{{ h.month_rent }} <span>元/月</span></div>
                            <div class="trig-addr">
                            {{ h.area }}-{{ h.community }}-{{ h.category }}-朝{{  h.get_direction_display }}-{{ h.sitting_room_area }}㎡
                            </div>
                            <div class="trig-describe">{{ h.category }}</div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
            <div class="tab-content hotest" id="tab3">
                <div class="tabpanel">
                {% for h in housingresources_list3 %}
                    <a href="{% url 'website:housing_resources' h.id %}" class="trig">
                        <img src="{{ h.cover_url }}" alt="">
                        <div class="trig_txt">
                            <div class="trig-price orange">{{ h.month_rent }}<span>元/月</span></div>
                            <div class="trig-addr">
                            {{ h.area }}-{{ h.community }}-{{ h.category }}-朝{{  h.get_direction_display }}-{{ h.sitting_room_area }}㎡
                            </div>
                            <div class="trig-describe">{{ h.category }}</div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--房源信息 end-->

    <!--关注租客 begin-->
    <div class="tenant banxin">
        <h5>Pay attention to tenant</h5>
        <h2>关注悦居</h2>
        <ul>
            <li>
                <div class="pic"><img src="/static/website/images/tenant1.png" alt=""></div>
                <div class="txt">信息发布</div>
            </li>
            <li>
                <div class="pic"><img src="/static/website/images/tenant2.png" alt=""></div>
                <div class="txt">诚信金</div>
            </li>
            <li>
                <div class="pic"><img src="/static/website/images/tenant3.png" alt=""></div>
                <div class="txt">挑选房屋</div>
            </li>
            <li>
                <div class="pic"><img src="/static/website/images/tenant4.png" alt=""></div>
                <div class="txt">邀约看房</div>
            </li>
            <li>
                <div class="pic"><img src="/static/website/images/tenant5.png" alt=""></div>
                <div class="txt">签约付款</div>
            </li>

        </ul>
    </div>
    <!--关注租客 end-->

    <!--租客 提意见 begin-->
    <div class="suggest banxin">
        欢迎来到租客网!您是第 <b class="orange">{{ fuwu_number }}</b> 位租客网服务的客户
        <div class="s_submit">
            <div class="sub_pic fl">
                <!-- <h6 align="left">租房小知识</h6> -->
                <!--<div class="picBorder"></div>-->
            </div>
            <div class="sub_write fr">
                <h4>意见反馈</h4>
                <textarea name="suggestion" id="suggestion" cols="30" rows="10"></textarea>
                <button class="white feedback">提 交</button>
            </div>
        </div>
    </div>
    <!--租客 提意见 end-->

{% endblock %}

{% block script %}
<script src="/static/website/js/swiper.min.js"></script>
<script src="/static/website/js/index.js"></script>
<!-- Initialize Swiper -->
<script>
//    banner autoplay
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 1000,
        centeredSlides: true,
        autoplay: 4000,
        autoplayDisableOnInteraction: false,
        effect: 'fade',
        loop: true
    });
    $('.sousuo').on('click',function(){
        var keyword = $('.keyword').val()
        window.location.href = '{% url "website:home_search" %}?keyword=' + keyword
    })
    $('.feedback').on('click', function(){
        var obj = $('#suggestion')

        $.ajax({
            url: '{% url "website:home_feedback_add" %}',
            async: false,
            type: 'post',
            data: {
                suggestion: obj.val(),
            },
            success: function(res, status){
                if(!res.error_code){
                    alert(res.error_msg)
                    obj.val('')
                }
            },
            error: function(res, status){
                alert('注册失败')
            }
        })


    })
</script>
{% endblock %}
